<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}"></title>
</head>
<body>
	<h1 th:text="${titulo}"></h1>
	<ul>
		<li>
		<a th:href="@{/variables/string/}+ 'Hola zuki'">/variables/string/hola zuki</a>
		<li>
		<li>
		<a	th:href="@{/variables/string/}+ 'Hola zuka'">/variables/string/hola zuka</a>
		<li>
		<li>
		<a th:href="@{/variables/string/}+ ${'hola zuki'} + '/' + '666' ">/va	riables/string/hola zuki/666</a>
		<li>
	</ul>
</body>
</html>